<nav>
    <div class="nav-icon">
        <img src="https://images.images4us.com/888sport/en/888sport_Homepage_SEO-slider_3_tcm853-209905.jpg"
             style="width: 200px; height: 150px; "/>
    </div>
    <div class="side-nav">
        <div><a [routerLink]="['/']">Home</a></div>
        <div *ngIf="!isLoggedIn()" ><a [routerLink]="['/user/register']">Register</a></div>
        <div *ngIf="isLoggedIn()" ><a [routerLink]="['/profile']">Profile</a></div>
        <div *ngIf="isLoggedIn()" [className]="my_Class" (click)="setState()"><a>Bets {{getButtonText()}}</a></div>
        <div [className]="my_Class" class="nav-bets" *ngIf="isOn && isLoggedIn()" >
            <a [routerLink]="['/nbabets/today']">Nba</a><br/>
            <a [routerLink]="['/nbabets', 30]">Other</a>
        </div>
    </div>
</nav>