<div class="container">
    <div class="bets-buttons">
        <ul class="nav nav-tabs" style=" border-color: #333;">
            <li class="nav-item" routerLinkActive="active" style=" border-color: #333;">
                <a class="nav-link " [routerLink]="['/nbabets/today']">Today Games</a>
            </li>
            <li class="nav-item"  routerLinkActive="active">
                <a class="nav-link " [routerLink]="['/nbabets/playing']">Now playing games</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link disabled" [routerLink]="['/nbabets/played']">Tomorrow games</a>
            </li>
            <li class="nav-item"  routerLinkActive="active">
                <a class="nav-link " [routerLink]="['/nbabets/incoming']">All incoming games</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link"  [routerLink]="['/nbabets/played']">All played games</a>
            </li>

        </ul>
            <!--<input type="text" class="form-control" placeholder="Search game">-->
    </div>
    <router-outlet></router-outlet>
</div>
