.container{
 padding-left: 250px;
 padding-top: 100px;

}
.container .games{
 text-align: center;
}
.bets-buttons{

}
a:link {
 color: black;
 text-decoration: none;
}

/* visited link */
a:visited {
 color: black;
 text-decoration: rebeccapurple;
}