.card {
    width: 160px;
    height: 100px;
    margin: 1px;
    background-color: #262626;
}

.card:hover{
    background-color: indigo;
    color: #FFB928;
}

a:visited > .card:hover {
    background-color: indigo;
    color: #FFB928;
}



a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
}

a:visited > .card {

}


