


<div class="details container">


        <bet-slip-holder [hidden]="!isOn"
                         [bets]="bets">
        </bet-slip-holder>


    <div class="card " style="background-color: #262626; border-color: #333;">

        <h3 class="card-header" style="background-color: #262626; border-color: #FFB928;">Bet on </h3>
        <div class="card-block">
            <h4 class="card-title">Away Team {{posts.label}} Home Team</h4>
            <p class="card-text">Chose you bet below for <strong>{{posts.interval}}</strong> games on {{posts.label| away}} and {{posts.label| home}} </p>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-sm-6">
            <div class="card" style="background-color: #262626; border-color: #333;">
                <div class="card-block">
                    <h3 class="card-title">{{posts.label| away}}</h3>
                    <a  class="btn btn-outline-danger btn-sm" id="res_away" (click)="setState()" (click)=" setResultBetForAway()">Result</a>
                    <a  class="btn btn-outline-danger btn-sm" (click)="setState()" (click)=" setWinnerBetForAway()">Winner</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card" style="background-color:#262626; border-color: #333;">
                <div class="card-block">
                    <h3 class="card-title">{{posts.label| home}}</h3>
                    <a class="btn btn-outline-danger btn-sm" (click)="setState()" (click)=" setResultBetForHome()">Result</a>
                    <a  class="btn btn-outline-danger btn-sm" (click)="setState()" (click)=" setWinnerBetForHome()" >Winner</a>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="card">
        <a href="#" [routerLink]="['/nbabets/incoming']" class="btn" style="background-color: #262626; border-color:  #FFB928;">Go back</a>
    </div>
    <br><br><br><br><br>



</div>












