.container{
     padding: 100px 160px 100px 250px;
     color: white;
}

.card-title{
     text-align: center;
}

.card-text{
     text-align: center;
}

bet-slip-holder {
     position: absolute;
     width: 250px;
     right: -100px;
}